*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
 }
.header{
    height: 430px;
    width: 100%;
    background-color: #ffffff;
}

.headingone{
    height: 70px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.imgs{
    display: flex;
}

.img-one{
    height: 300px;
    width: 365px;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(img1.png);
    background-size: cover;
    margin-left: 90px;
    border-radius: 20px;
}

.img-two{
    height: 300px;
    width: 365px;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(img2.png);
    background-size: cover;
    margin-left: 40px;
    border-radius: 20px;
}

.img-three{
    height: 300px;
    width: 365px;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(img3.png);
    background-size: cover;
    margin-left: 40px;
    border-radius: 20px;
}

.box-two{
    height: 350px;
    width: 87%;
    margin-left: 90px;
    margin-top: 100px;
    background-color: #eaf3ea;
    border-radius: 20px;
}

.content h1{
    background-color: #eaf3ea;
    padding-top: 100px;
    padding-left: 40px;
    font-weight: 700;
}

.content p{
    padding-left: 43px;
    padding-top: 20px;
    letter-spacing: 0.7px;
    font-family: sans-serif;
    font-size: smaller;
}

.btn{
    height: 45px;
    width: 110px;
    background:#CF6531;
    color: #ffffff;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 13px;
    border: none;
}

.img-four{
    height: 200px;
    width: 240px;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(img4.png);
    background-size: cover;
    margin-left: 380px;
    margin-top: -200px;
    border-radius: 20px;
}

.img-five{
    height: 200px;
    width: 240px;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(img5.png);
    background-size: cover;
    margin-left: 640px;
    margin-top: -200px;
    border-radius: 20px;
}

.img-six{
    height: 200px;
    width: 240px;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(img6.png);
    background-size: cover;
    margin-left: 900px;
    margin-top: -200px;
    border-radius: 20px;
}

.box-three{
    height: 382px;
    width: 87%;
    background-color: white;
    margin-top: 500px;
    margin-left: 120px;
}

.contnt  h3{
    color: #CF6531;
}

.contnt  h1{
    padding-top: 10px;
}

.contnt  p{
    padding-top: 7px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-family: sans-serif;
}

.date{
    height: 75px;
    width: 832px;
    background-color: #CF6531;
    margin-left: 290px;
    margin-top: -170px;
    border-radius: 20px;
}

.date{
    display: flex;
}
.date-one{
    height: 77px;
    width: 244px;
    border-radius: 20px;
    color: #fff;
    padding-top: 30px;
    padding-left: 40px;
    letter-spacing: 0.7px;
    font-weight: bold;
}

.date-two{
    height: 37px;
    width: 244px;
    letter-spacing: 0.7px;
    border-radius: 20px;
    color: #fff;
    padding-top: 30px;
    padding-left: 40px;
    margin-left: 20px;
    font-weight: bold;
}

.date-three{
    height: 37px;
    width: 170px;
    border-radius: 20px;
    letter-spacing: 0.7px;
    background: rgb(216, 216, 121);
    color: #fff;
    margin-top: 10px;
    margin-left: 25px;
    padding-top: 20px;
    padding-left: 32px;
    font-weight: bold;
}

.day-container {
    margin-left: 300px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.day {
    font-weight: bold;
    color: #C85A2E; 
    margin-right: 20px;
    margin: 10px;
}

.details {
    flex-grow: 5;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    padding-left: 10px;
}

.accordion {
    width: 72%;
    margin-left: 290px;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
}

.accordion-content {
    display: none;
    height: 40px;
    background-color: #C85A2E;
    padding: 0px 15px;
    padding-top: 18px;
    transition: all 0.4s ease;
}


.active .accordion-content {
    display: block;
}

.section-four{
    height: 738px;
    width: 1138px;
    background-color: #fff;
    margin-left: 121px;
    margin-top: 44px;
}

.section-four{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}

.boxes{
    height: 43px;
    width: 628px;
    background-color: #C85A2E;
}